
img {
    max-width: 800px;
}

.w100 {
    width: 100%;
}

.yt-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.yt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pano {
    height: 600px !important;
}

p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}